.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-fixed {
  height: 60px;
  background-color: #212529;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
}

.menu-icon {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
