.gain {
  color: green !important;
  font-weight: bold !important;
}

.loss {
  color: red !important;
  font-weight: bold !important;
}

.table-responsive {
  overflow-x: auto;
}

table td,
table th {
  padding: 8px 12px !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
}

table thead th {
  min-width: 100px;
  height: 48px;
  text-align: center;
}
